In [ ]:

from src.io_utils import load_data, coerce_numeric

df = coerce_numeric(load_data("data/library_loans.csv"))
df = df.dropna(subset=["loan_duration_days"]).copy()
df = df[df["loan_duration_days"] > 0 ].copy()

df["month"] = df["return_date"].dt.to_period("M").dt.to_timestamp()
df["week"] = df["return_date"].dt.to_period("W").dt.start_time

df.info()
#df.head()

,book_title,category,branch,loan_date,return_date,loan_duration_days,month,week
0,The Silent Patient,Fiction,Central Library,1736640000000000000,2025-02-02,21,2025-02-01,2025-01-27
1,Becoming,Biography,Westside Branch,1737158400000000000,2025-02-03,16,2025-02-01,2025-02-03
2,Where the Crawdads Sing,Fiction,Central Library,1738713600000000000,2025-02-25,20,2025-02-01,2025-02-24
3,Educated,Biography,North Branch,1739232000000000000,2025-02-26,15,2025-02-01,2025-02-24
4,Atomic Habits,Self-help,Central Library,1739836800000000000,2025-03-05,15,2025-03-01,2025-03-03